/* --------------------------------------------- 
# START CONFIGURATION
--------------------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

/* --------------------------------------------- 
# FOOTER
--------------------------------------------- */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push {
    height: 50px;
}

/* --------------------------------------------- 
# NAVBAR
--------------------------------------------- */
#btn-nav {
    width: 90px;
    float: right;
    margin-right: 25px;
}

/* --------------------------------------------- 
# LOGIN
--------------------------------------------- */